    <div class="information">
        <div class="container container_small">
        
            <div class="information__inner">
                <div class="information__item">
                    <div class="information__title">information</div>
                
                    <a class="information__link" href="#">The brand</a><br>
                    <a class="information__link" href="#">Local stores</a><br>
                    <a class="information__link" href="#">Customer service</a><br>
                    <a class="information__link" href="#">Privacy & cookies</a><br>
                    <a class="information__link" href="#">Site map</a>
                </div>
    
                <div class="information__item">
                    <div class="information__title">Why buy from us</div>
                
                    <a class="information__link" href="#">Shipping & returns</a><br>
                    <a class="information__link" href="#">Secure shopping</a><br>
                    <a class="information__link" href="#">Testimonials</a><br>
                    <a class="information__link" href="#">Award winning</a><br>
                    <a class="information__link" href="#">Ethical trading</a>
                </div>
    
                <div class="information__item">
                    <div class="information__title">Your account</div>
                
                    <a class="information__link" href="#">Sign in</a><br>
                    <a class="information__link" href="#">Register</a><br>
                    <a class="information__link" href="#">View cart</a><br>
                    <a class="information__link" href="#">View your lookbook</a><br>
                    <a class="information__link" href="#">Track an order</a><br>
                    <a class="information__link" href="#">Update information</a>
                </div>
    
                <div class="information__item">
                    <div class="information__title">Lookbook</div>
                
                    <a class="information__link" href="#">Latest posts</a><br>
                    <a class="information__link" href="#">Men’s lookbook</a><br>
                    <a class="information__link" href="#">Women’s lookbook</a><br>
                    <a class="information__link" href="#">Lookbooks RSS feed</a><br>
                    <a class="information__link" href="#">View your lookbook</a><br>
                    <a class="information__link" href="#">Delete your lookbook</a>
                </div>
    
                <div class="information__item">
                    <div class="information__title">contact details</div>
                    <div class="information__text">
                        Head Office: Avenue Fashion,<br> 
                        180-182 Regent Street, London.
                    </div>
                    <div class="information__text">
                        Telephone: 0123-456-789
                    </div>
                    <div class="information__text">
                        Email: support@yourwebsite.com
                    </div>
                </div>
            </div><!-- /.information__inner -->
    
            <div class="information__inner">
                <div class="information__banner information__banner--black">
                    <div class="banner__text">
                        <b>award winner</b><br>
                        fashion awards 2016
                    </div>
                </div>
                <div class="information__banner information__banner--blue">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest"></i>
                </div>
            </div>
    
        </div>
    </div>