    <div class="topBar">
        <div class="container container_small">
            <button class="topBar__btn ">
                Currency : GBP
                <i class="fas fa-chevron-down"></i>
            </button>
            <button class="topBar__btn topBar__btn--first">
                Register
            </button>
            <button class="topBar__btn topBar__btn--second">
                Sign In
            </button>
            <button class="topBar__btn topBar__btn_empty">
                <i class="fas fa-shopping-cart"></i>
                empty
                <i class="fas fa-chevron-down"></i>
            </button>
        </div>
    </div>
    
    <header class="header">
        <div class="container">
            <div class="header__inner">
    
                <div class="header__nav">
                    <div class="header__logo">
                        <b>avenue</b> fashion
                    </div>
    
                    <nav class="nav">
                        <a class="nav__link" href="/">home</a>
                        <a class="nav__link" href="#">mens
                        <i class="fas fa-chevron-down list-1"></i></a>
                        <a class="nav__link" href="#">womens
                        <i class="fas fa-chevron-down list-2"></i></a>
                        <a class="nav__link" href="/brand">the brand</a>
                        <a class="nav__link" href="/local">local stores</a>
                        <a class="nav__link" href="/lookbook">look book
                        <i class="fas fa-chevron-down list-3"></i></a>
                        <i class="fas fa-search"></i>
                    </nav>
                </div>
    
            </div>
        </div>
    </header>