    <div class="intro">
        <div class="intro__inner">
            <div class="container">
                
                <div class="intro__text">
                    <div class="intro__title">
                        <b><%= title__bold %></b> <%= title %>
                    </div>
                    <div class="intro__slogan">
                        <%= sub__title %>
                    </div>
                </div>

            </div>
        </div>
    </div>