    <div class="lookbook">
        <div class="lookbook__item">
            <img class="lookbook__img" src="img/lookbook-1.png">
            <div class="lookbook__content">
                <div class="lookbook__title"><b>men’s</b><br> lookbook</div>
                <div class="lookbook__text">
                    Lorem ipsum dolor sit amet eras facilisis
                    consectetur adipiscing elit lor, integer lorem consecteur dignissim laciniqui.
                    Elementum metus facilisis ut phasellu.
                </div>
                <button class="btn">view now</button>
            </div>
        </div>
    
        <div class="lookbook__item">
            <img class="lookbook__img" src="img/lookbook-2.png">
            <div class="lookbook__content">
                <div class="lookbook__title"><b>women’s</b><br> lookbook</div>
                <div class="lookbook__text">
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames .
                    Pellentesque laoreet quis enim et mattis. Quisque interdum felis tellus
                </div>
                <button class="btn">view now</button>
            </div>
        </div>
    
        <div class="lookbook__item">
            <img class="lookbook__img" src="img/lookbook-3.png">
            <div class="lookbook__content">
                <div class="lookbook__title"><b>your</b><br> lookbook</div>
                <div class="lookbook__text">
                    See an item you like and click the  button to add it to your lookbook where you can create your own perfect look.
                    It’s like your own boutique
                </div>
                <button class="btn">view now</button>
            </div>
        </div>
    </div>