<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>

    <%- include('./components/header')%>
    <%- include('./components/intro')%>
    
    <div class="content">
        <div class="container container_small">

            <div class="content__inner">
                <div class="content__left">
                    <div>
                        <img class="content__img content__img_margin" src="img/brand-1.png">
                    </div>

                    <div>
                        <img class="content__img" src="img/brand-3.png">
                    </div>
                    
                    <div class="description">
                        <div class="description__title">
                            our values, vision and strategy
                        </div>
                        <div class="description__subtitle">
                            The above image would be a great place for an advertising video
                        </div>
                        <div class="description__text">
                            Cras maximus venenatis malesuada. Nulla sagittis elit felis, ac facilisis quam ornare aliquam. 
                            Etiam cursus odio vitae dui dignissim, sed tempus lacus tincidunt et donec sapien velit, 
                            rhoncus eu nulla a, molestie tempus mi maecenas sagittis ornare.
                            Pellentesque sapien mi, tincidunt nec magna vitae, volutpat elementum odioni lorem Aliquam tempor 
                            massa vitae augue mattis tempor id in ante ut augue erat, luctus eil.
                        </div>
                    </div>
                    
                </div>
                <div class="content__right">
                    <div class="description description__margin">
                        <div class="description__title">
                            hand designed clothing
                        </div>
                        <div class="description__subtitle">
                            established in 2013, avenue fashion Sed dictum elit vel sapien luctus eras
                        </div>
                        <div class="description__text">
                            Praesent feugiat malesuada tristique maecenas rhoncus diam eget quam vestibulim consectetur, 
                            id condimentum leo porttitor. Cum sociis natoque penatibus eta magnis disut parturient montes, 
                            nascetur ridiculus mus. Donec sem lorem laoreet tempor un risus vitae, rutrum sodales nibh 
                            suspendisse congue metus nunc, id viverra elit loreti rhoncus quis consecteur es. 
                            Donec pulvinar tempor lorem a pretium justo interdum.
                        </div>
                    </div>

                    <div>
                        <img class="content__img" src="img/brand-2.png">
                    </div>

                    <div class="description">
                        <div class="description__title">
                            Ethical trading
                        </div>
                        <div class="description__subtitle">
                            we oversee the working conditions of the people in the supply chain
                        </div>
                        <div class="description__text">
                            Nullam dapibus consectetur neque, faucibus porttitor purus iaculis sed. 
                            Aenean eras dapibus augue, eget dignissim dui maecenas et rhoncus mim, 
                            vel semper arcu lorem Pellentesque congue justo esteir pellentesque aliquet 
                            massa eget posuere tincidunt. Cras viverra ullamcorper nunc accumsan hendrerit. 
                        </div>
                    </div>

                    <div class="awards">
                        <img src="img/award-1.png">
                        <img src="img/award-2.png">
                        <img class="award__3" src="img/award-3.png">
                    </div>

                </div>
            </div>

        </div>
    </div>

    <%- include('./components/footer')%>
</body>
</html>